.containerPage {
    padding-bottom: 40px;
  }
  
  .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  }
  
  .overview {
    font-size: 24px;
    /* margin-bottom: 3px; */
  }
  
  .overviewText {
    margin-bottom: 12px;
  }
  
  .back {
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
    padding: 8px;
  }
  
  .rating {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .genres {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .link {
    font-size: 20px;
     color: rgb(15, 15, 37);
  text-decoration: underline;
  }
  
  .listInfo {
    display: grid;
    gap: 4px;
    margin-bottom: 20px;
  }
  .item {
  margin-bottom: 30px;
}

.name {
  font-size: 28px;
  margin-bottom: 12px;
}
.add {
  padding: 24px 0;
}

.title_add {
  font-size: 24px;
  font-weight: 600;
  margin-left: 24px;
}

.links_list {
  padding: 20px;
  border-bottom: 2px solid rgb(196, 194, 194);
}
.active {
  color: cornflowerblue;
}