.header {
  background-color: rgba(243, 124, 237, 0.514);
  padding: 24px;
  border-bottom: 4px solid rgb(68, 45, 173);
}

.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}

.link {
  font-size: 28px;
  font-weight: 600;
  color: rgb(214, 149, 209);
  text-decoration: none;
}
.link:hover {
  color: cornflowerblue;
}
.active {
  color: rgb(68, 45, 173);
  text-decoration: underline;
}
